#######################################################
### Database                                        ###
#######################################################
dj-database-url

django
django_extensions
djangorestframework
django-debug-toolbar
psycopg2
messagebird
googlemaps
gunicorn
whitenoise
